*~
__pycache__
*.pyc
*/__pycache__/
.DS_Store
*__pycache__*
*.egg_info*
/geomm.egg-info/PKG-INFO
/geomm.egg-info/SOURCES.txt
/geomm.egg-info/dependency_links.txt
/geomm.egg-info/requires.txt
/geomm.egg-info/top_level.txt
*.so
sphinx/api/
sphinx/_build/
src/geomm/pyqcprot.c
dist/
build/
pip-wheel-metadata
src/*.egg-info/*